@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 14px;
}

@media screen and (min-width: 1024px) {
	* {
		font-size: 16px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

/* Utilities */
.color-black {
	color: #000000 !important;
}

.color-gray {
	color: #4f4f4f !important;
}

.color-gray-light {
	color: #bdbdbd !important;
}

.color-gold {
	color: #f2994a !important;
}

.font-size-xl {
	font-size: 18px !important;
}

.font-size-lg {
	font-size: 16px !important;
}

.font-size-m {
	font-size: 14px !important;
}

.font-size-s {
	font-size: 12px !important;
}

.font-size-xs {
	font-size: 10px !important;
}

.font-size-xxs {
	font-size: 8px !important;
}

@media screen and (min-width: 1024px) {
	.font-size-xl {
		font-size: 20px !important;
	}

	.font-size-lg {
		font-size: 18px !important;
	}

	.font-size-m {
		font-size: 16px !important;
	}

	.font-size-s {
		font-size: 14px !important;
	}

	.font-size-xs {
		font-size: 12px !important;
	}

	.font-size-xxs {
		font-size: 10px !important;
	}
}

.text-decoration-none {
	text-decoration: none;
}

.font-upper {
	text-transform: uppercase !important;
}

.font-weight-regular {
	font-weight: 400 !important;
}

.font-weight-medium {
	font-weight: 500 !important;
}

.font-weight-bold {
	font-weight: 700 !important;
}

.font-style-italic {
	font-style: italic !important;
}

.container {
	margin: 0 auto;
	width: 95%;
}

@media screen and (min-width: 1024px) {
	.container {
		width: 67%;
	}
}

/* Header */
.header-text {
	margin-top: 0;
	margin-left: 6px;
}

/* Content */
@media screen and (min-width: 1024px) {
	.content {
		flex-direction: row-reverse !important;
		gap: 40px;
		flex-wrap: nowrap;
		padding: 50px 0;
	}
}

/* Main */
main {
	padding: 20px 0;
}

@media screen and (min-width: 1024px) {
	main {
		padding-top: 0;
	}
}

/** Aside **/
aside {
	width: 100%;
}

.summary-point {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 2px;
	padding: 10px 0;
}

.summary-point span {
	display: block;
}

.material-icons {
	font-size: 16px;
	margin-right: 1px;
}

@media screen and (min-width: 1024px) {
	aside {
		justify-content: center;
		gap: 10px;
		width: fit-content;
		height: fit-content;
		padding: 40px 0;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		border-radius: 12px;
	}

	.summary-point {
		justify-content: center;
	}

	.material-icons {
		font-size: 34px;
	}
}

/* Ingredients section */
.ingredient-checkbox {
	display: block;
	padding: 5px 0;
}

.ingredients-section-title {
	margin-top: 0;
}

.ingredient-checkbox-input {
	margin-right: 5px;
}

@media screen and (min-width: 1024px) {
	.ingredient-checkbox-input {
		margin-right: 10px;
	}
}

/* Instructions list */
.instructions-list {
	list-style: none;
	counter-reset: item;
	padding: 0;
}

.instructions-list-item {
	display: flex;
	align-items: start;
	counter-increment: item;
	gap: 13px;
	padding: 15px 0;
}

.instructions-list-item:before {
	content: counter(item);
	background-color: #f2994a;
	color: white;
	border-radius: 6px;
	text-align: center;
	display: block;
	min-width: 36px;
	max-width: 36px;
	height: 36px;
	font-size: 24px;
	font-family: Playfair Display;
}

.instructions-list-item-paragraph {
	padding: 0;
	margin: 0;
}

/* Footer */
.footer-text {
	font-size: 14px;
	font-weight: 500;
	color: #828282;
	text-align: center;
	padding-bottom: 24px;
}

.footer-text-link {
	color: #828282;
}
