@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 14px;
}

@media screen and (min-width: 1024px) {
	* {
		font-size: 16px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

/* Utilities */
.font-size-s {
	font-size: 12px !important;
}

.font-size-xs {
	font-size: 10px !important;
}

.font-size-xxs {
	font-size: 8px !important;
}

@media screen and (min-width: 1024px) {
	.font-size-s {
		font-size: 14px !important;
	}

	.font-size-xs {
		font-size: 12px !important;
	}

	.font-size-xxs {
		font-size: 10px !important;
	}
}

.font-black {
	color: #000000 !important;
}

.font-gray {
	color: #4f4f4f !important;
}

.font-weight-regular {
	font-weight: 400 !important;
}

.font-weight-medium {
	font-weight: 500 !important;
}

.font-weight-bold {
	font-weight: 700 !important;
}

.font-style-italic {
	font-style: italic !important;
}

.container {
	margin: 0 auto;
	width: 95%;
}

@media screen and (min-width: 1024px) {
	.container {
		width: 67%;
	}
}

/* Header */
.header-text {
	margin-top: 0;
	margin-left: 6px;
}
